%ul.timeline
  %li.timeline-event
    %label.timeline-event-icon
    .timeline-event-copy
      %p.timeline-event-thumbnail
        April 2011 - heute
      %h3
        Reviewed REPO/COMMIT
      %h5
        USER
      %p
        REVIEW_COMMENT 
      %p
        COMMIT_LINK
  %li.timeline-event
    %label.timeline-event-icon
    .timeline-event-copy
      %p.timeline-event-thumbnail
        November 2009 - März 2011
      %h3
        Freelancer
      %h4
        Designer und Autor
      %p
        Konzeption, Design und Produktion von Digitalen Magazinen mit InDesign, der Adobe Digital Publishing Suite und HTML5. Co-Autorin der Fachbücher "Digitales Publizieren für Tablets" und "Adobe Digital Publishing Suite" erschienen im dpunkt.verlag.
